<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/">TUTORO</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a [routerLink]="['/how']">How does it work?</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/stories']">User stories</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/tutors']">Tutors</a></li>
      </ul>
      <!--<ul class="nav navbar-nav navbar-right" sec:authorize="isAuthenticated()">-->
        <!--<li><a th:href="@{'/tutor/profile/'+${#authentication.name}}">Profile</a></li>-->
        <!--<li><a style="padding-right:20px" th:href="@{/logout}">Logout</a></li>-->
      <!--</ul>-->
    </div>
  </div>
</nav>
