<div class="email-valid-form">
  <h2 class="text-center">Email confirmation</h2>
  <div class="or-seperator"></div>
  <p>Please check you email and click verification link</p>
  <!--<form [formGroup]="emailValidForm" (ngSubmit)="onSubmit()">-->
    <!--<h2 class="text-center">Email confirmation</h2>-->
    <!--<div class="or-seperator"></div>-->
  <!--<div class="form-group">-->
    <!--<input-->
      <!--type="text"-->
      <!--id="token"-->
      <!--class="form-control"-->
      <!--formControlName="token"-->
      <!--placeholder="Validation token"-->
    <!--&gt;-->
    <!--<span *ngIf="!emailValidForm.valid && emailValidForm.touched"-->
          <!--class="help-block">Invalid token!</span>-->
  <!--</div>-->
<!--</form>-->
</div>
