.email-valid-form {
  width: 340px;
  margin: 30px auto;
}
.email-valid-form {
  margin-bottom: 15px;
  background: #f7f7f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}
.email-valid-form h2 {
  margin: 0 0 15px;
}
.email-valid-form .hint-text {
  color: #777;
  padding-bottom: 15px;
  text-align: center;
}
.form-control, .btn {
  min-height: 38px;
  border-radius: 2px;
}
.or-seperator {
  margin: 20px 0 10px;
  text-align: center;
  border-top: 1px solid #ccc;
}
.or-seperator i {
  padding: 0 10px;
  background: #f7f7f7;
  position: relative;
  top: -11px;
  z-index: 1;
}
.input-group-addon .fa{
  font-size: 18px;
}
