<div class="signup-form">
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <h2 class="text-center">Register</h2>
    <div class="or-seperator"></div>
    <div class="form-group">
      <!--<label for="username">Username</label>-->
      <input
        type="text"
        id="username"
        placeholder="Username"
        formControlName="username"
        class="form-control">
      <span *ngIf="!signupForm.get('username').valid && signupForm.get('username').touched"
            class="help-block">
              <span *ngIf="signupForm.get('username').errors != null && signupForm.get('username').errors['usernameExists']">
                Username already exists!
              </span>
              <span *ngIf="signupForm.get('username').errors != null && signupForm.get('username').errors['required']">
                This field is required!
              </span>
              </span>
    </div>
    <div class="form-group">
      <!--<label for="email">Email</label>-->
      <input
        type="text"
        id="email"
        placeholder="Email"
        formControlName="email"
        class="form-control">
      <span *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched"
            class="help-block">
              <span *ngIf="signupForm.get('email').errors != null && signupForm.get('email').errors['emailExists']">
                Email already exists!
              </span>
              <span *ngIf="signupForm.get('email').errors != null && signupForm.get('email').errors['required']">
                This field is required!
              </span>
              </span>
    </div>
    <div class="form-group">
      <!--<label for="password">Password</label>-->
      <input
        type="password"
        id="password"
        placeholder="Password"
        formControlName="password"
        class="form-control">
      <span *ngIf="!signupForm.get('password').valid && signupForm.get('password').touched"
            class="help-block">
            <span *ngIf="signupForm.get('password').errors['incorrectPassword']">
                Enter correct password!
              </span>

         <span *ngIf="signupForm.get('password').errors['required']">
                This field is required!
              </span>
          </span>
    </div>
    <div class="form-group">
      <input
        type="password"
        id="passwordMatch"
        placeholder="Confirm password"
        formControlName="passwordMatch"
        class="form-control">
      <span *ngIf="!signupForm.get('passwordMatch').valid && signupForm.get('passwordMatch').touched"
            class="help-block">
            <span *ngIf="signupForm.get('passwordMatch').errors['passwordsNotMatch']">
                Passwords are not the same!
              </span>

        <span *ngIf="signupForm.get('passwordMatch').errors['required']">
                This field is required!
              </span>
          </span>
    </div>
    <div class="radio" *ngFor="let gender of genders">
      <label>
        <input
          type="radio"
          placeholder="Gender"
          formControlName="gender"
          [value]="gender">{{ gender }}
      </label>
    </div>
    <span *ngIf="!signupForm.valid && signupForm.touched"
          class="help-block">Enter valid data!</span>
    <button
      class="btn btn-primary btn-block login-btn"
      type="submit">Submit
    </button>
  </form>
</div>
